:root {
  font: 16px / 1 serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: lightgrey;
}

.stuff {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 50px;
}
